# Server
GATEWAY_PORT=3001
FRONTEND_PORT=3000
PYTHON_SERVICE_URL=http://transcriber:8000

# Redis (priority to Upstash if URL is set)
UPSTASH_REDIS_URL=redis://default:password@host:port
# Chose one Redis configurations 
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=node

# Database
DB_PATH=/app/data/transcribe.db

# Brevo Mailer
BREVO_API_KEY=your_key_here
MAIL_FROM=noreply@frionode.online

# Python
WHISPER_MODEL=base
CACHE_MAX_AGE_DAYS=7
CACHE_MAX_FILES=100
